alembic==1.18.5
asyncpg==0.31.0
argon2-cffi==25.1.0
fastapi[standard]==0.139.2
pwdlib==0.3.0
pydantic==2.13.4
pydantic-settings==2.14.2
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.32
redis==8.1.0
prometheus-client==0.26.0
psycopg2-binary==2.9.12
SQLAlchemy==2.0.51
uvicorn==0.51.0
aio-pika==10.0.1
celery==5.6.3
confluent-kafka[json,schemaregistry]==2.15.1